{% extends 'base.html' %}
{% load static %}
{% block  'conteudo' %}
<section class="grid-section">
   <div class="grid-text">
      <h1>Artigos/livros publicados:</h1>
   </div>
   <div class="grid-container">
      {% for artigo in page_obj  %}
      <div class="grid-item-container center-text">
         <div class="title center-text">{{artigo.titulo}}</div>
         <div class="grid-item">
            <a href="{{artigo.link}}" target="_blank">
            <img class="grid-img" src="{{artigo.image.url}}">
            </a>
         </div>
         <div class="description center-text">{{artigo.descricao|safe}}</div>
      </div>
      {% endfor %}
   </div>

   <!-- Start Pagination -->
   <!-- End Pagination -->
</section>
<div class="pagination-div">
   <ul class="pagination">
      {% if page_obj.has_previous %}
      <li><a href="{% url 'blog:artisgosAcademicos' page_obj.previous_page_number %}">&lt;</a></li>
      {% endif %}
      <li><a class="active" href="#0">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
      <li><a href="{% url 'blog:artisgosAcademicos' page_obj.next_page_number %}">&gt;</a></li>
      {% endif %}
   </ul>
</div>
{% endblock %}

{% block 'js' %}
   <script src="{% static 'base/js/artigos.js'%}"></script>
{% endblock  %}