{% extends 'base.html' %}
{% load static %}
{% block  'conteudo' %}
<section class="grid-section">
   <div class="grid-text">
      <h1>Artigos/livros publicados:</h1>
   </div>
   <div class="grid-main-container">
      <div class="grid-container">
         {% for artigo in page_obj  %}
         <div class="grid-item">
            <div class="title">{{artigo.titulo}}</div>
            <a href="#">
               <img class="grid-img" src="{{artigo.image.url}}">
               </a>
            <div class="description">{{artigo.descricao|safe}}</div>
         </div>
         {% endfor %}
      </div>
   </div>
   <!-- Start Pagination -->
   <!-- End Pagination -->
</section>
<div class="pagination-div">
   <ul class="pagination">
      {% if page_obj.has_previous %}
      <li><a href="{% url 'blog:artigo' page_obj.previous_page_number %}">&lt;</a></li>
      {% endif %}
      <li><a class="active" href="#0">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
      <li><a href="{% url 'blog:artigo' page_obj.next_page_number %}">&gt;</a></li>
      {% endif %}
   </ul>
</div>
{% endblock%}

{% block 'js' %}
   <script src="{% static 'base/js/artigos.js'%}"></script>
{% endblock  %}