{% extends 'base.html' %}
{% load static %}
{% block  'conteudo' %}
<section id="postagens">
    {% for post in post  %}
        {% if post.image.name == '' %}
        <div class="post">
            <div class="post-container">
                <div class="div-text">
                    <div class="post-titulo">
                    <h1>
                        {{post.titulo}}
                    </h1>
                    </div>
                </div>
                <div class="post-box">
                    <p>
                        {{post.post|safe}}
                    </p>
                    <div class="ler-mais-div">
                    <a class="ler-mais">Ler mais...</a>
                    <div class="add-comentario-box"><img src="{% static '/base/img/message (1).png'%}">
                    </div>

                    {% comment %}? COMENTARIO {% endcomment %}
                    <div class="comentario-box">
                        <img src="{% static '/base/img/comment (2).png'%}">
                        <li>
                            <div class="comentario-parte1"> <span class="comentario-img">
                                <img src="{% static 'base/img/discord.png'%}">
                                </span>
                                <span class="comentario-nome"> 
                                Thiago Neves
                                </span>
                                <span class="comentario-data">10 de Junho
                                </span> 
                            </div>
                            <span> </span>
                            <span class="comentario-texto">
                            Kfksalkfaslfkas
                            fsalkfsalkfsa
                            flaskf
                            </span>
                            <div class="comentario-parte2">
                                <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                                Responder
                                </span>
                            </div>
                        </li>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}? POST 2 {% endcomment %}
        {% else %}
        
        <div class="post2">
        <div class="post-container2">
            <div class="div-text1">
                <div class="post-container2-img">
                    <img src="{{post.image.url}}">
                </div>
            </div>
            <div class="div-text2">
                <div class="post-titulo2">
                    <h1>
                    `{{post.titulo}}
                    </h1>
                </div>
                <div class="post-box2">
                    <p>
                        {{post.post|safe}}
                    </p>
                    <div class="ler-mais-div2">
                    <a class="ler-mais2">Ler mais...</a>
                    </div>
                    <div class="post-box2-fonte">
                    <a href="{{post.link_fonte}}"target="_blank"><h3>[link da matéria]</h3></a>
                    <h3>Fonte:{{post.font}}</h3>
                    </div>
                </div>

                {% comment %}? COMENTARIO {% endcomment %}

                <div class="post2-comentarios">
                    <div class="add-comentario-box"> <img src="{% static '/base/img/message (1).png'%}">
                    </div>
                    <div class="comentario-box">
                    <img src="{% static '/base/img/comment (2).png'%}">
                    <li>
                        <div class="comentario-parte1"> <span class="comentario-img">
                            <img src="{% static 'base/img/discord.png'%}">
                            </span>
                            <span class="comentario-nome"> 
                            Thiago Neves
                            </span>
                            <span class="comentario-data">10 de Junho
                            </span> 
                        </div>
                        <span> </span>
                        <span class="comentario-texto">
                        Kfksalkfaslfkas
                        fsalkfsalkfsa
                        flaskf
                        </span>
                        <div class="comentario-parte2">
                            <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                            Responder
                            </span>
                        </div>
                    </li>
                    </div>
                    <div class="main-comentario">
                    <label for="comentario">Deixe seu comentário:</label>
                    <textarea class="input_comentario" name="comentario"></textarea><img src="{% static '/base/img/send.png'%}">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
      <div class="ver-mais-a">
         <div class="link-container">
            <a href="#" class="custom-link">Carregue mais</a>
         </div>
      </div>
</section>
<div class="modal-main-resposta">
<div class="modal-resposta">
<button class="modal-resposta-fechar">x</button>
<div class="comment-section">
<div class="comment">
<img src="avatar.png" alt="avatar" class="avatar">
<div class="content">
<h3 class="username">User Name</h3>
<p class="comment-text">This is a comment.</p>
</div>
</div>
<div class="reply">
<img src="avatar.png" alt="avatar" class="avatar">
<div class="content">
<h3 class="username">User Name</h3>
<input class="reply-input" type="text" placeholder="Write a reply...">
</div>
</div>
</div>
</div>
</div>
<div class="modal-add-comentario"> 
<div class="modal-main-comentario">
<button class="fechar_modal_comentario">x</button>
<div class="modal-comentario">
<div class="modal-comentario-header">
<img src="url_da_imagem" alt="user profile picture">
<h2>Nome da Postagem</h2>
</div>
<div class="post-content">
Conteúdo da postagem
</div>
<div>
<input class="comment-box" type="text" placeholder="Adicione um comentário..."/>
</div>
</div>
</div>
</div>
</div>
<div class="modal-container-video">
   <div class="modal-video">
      <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
         <div class="wistia_responsive_wrapper" style="height: 30rem;top:0;width: 30rem;margin: auto; position:relative;
            }">
            <button class="fechar-modal-video" style="
               position: absolute;
               top: -15px;
               right: -15px;
               width: 2rem;
               height: 2rem;
               z-index: 999;
               border-radius: 50%;
               border: 2px solid #fff;
               background-color: rgb(54,54,54);
               font-size: 1.3em;
               color: #fff;
               cursor: pointer;
               box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
               outline:none;"
               >x</button>
            <div class="wistia_embed wistia_async_tq05i69fjl videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;</div>
         </div>
      </div>
   </div>
</div>
{% endblock  %}
{% block 'js' %}
<script src="https://fast.wistia.com/embed/medias/tq05i69fjl.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<script src="{% static 'base/js/app.js' %}"></script>
{% endblock  %}