{% extends 'base.html' %}
{% load static %}

{% block  'conteudo' %}
<section class="contatos">
   <div class="main-flex-contatos">
      <div class="contatos-item1">
         <a href="#"><img class="instagram-contato" src="{% static 'base/img/instagram(semfundo).png'%}"></a>
         <a href="#"><img class="tiktok-contato" src="{% static 'base/img/tiktok.png'%}"></a>
         <a href="#"><img class="youtube-contato" src="{% static 'base/img/youtube(semfundo).png'%}"></a>
         <a href="#"><img class="twitter-contato" src="{% static 'base/img/twitter.png'%}"></a>
         <a href="#"><img class="linkedin-contato" src="{% static 'base/img/linkedin.png'%}"></a>
        <a href="#"> <img class="gmail-contato" src="{% static 'base/img/gmail.png'%}"></a>
         <a href="#"><img class="discord-contato" src="{% static 'base/img/discord.png'%}"></a>
      </div>
      <div class="contatos-item2">
         <div class="contatos-square"></div>
      </div>
   </div>
</section>
{% endblock %}

{% block 'js' %}
<script src="{% static 'base/js/contato.js'%}"></script>
{% endblock  %}