{% extends 'base.html' %}
{% load static %}

{% block 'css' %}
   <link rel="stylesheet" href="{% static 'base/css/sobremim.css' %}">
{% endblock  %}

{% block  'conteudo' %}
<section class="sobremim">
   <div class="sobremim-main-container">
      <h1>{{sobre_mim.titulo}}</h1>
      <div class="sobremim-container">
         <div class="sobremim-img">
            <img src="{{sobre_mim.image.url}}">
         </div>
         <div class="sobremim-text">
            <p>
               {{sobre_mim.sobre_mim}}
            </p>
         </div>
      </div>
   </div>
</section>
<div class="linha-container">
   <p class="trabalhos">Onde encontrar meus trabalhos:</p>
   <hr class="linha-sobremim">
   <div class="sobremim-flex">
      <div class="grid-sobremim">
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
      </div>
      <div class="social-sobremim">
         <ul>
            <a href=""><img src="{% static 'base/img/a(semfundoo).png'%}"></a>
            <a href=""><img src="{% static 'base/img/linkedin.png'%}"></a>
            <a href=""><img src="{% static 'base/img/medium(semfundo).png'%}"></a>
         </ul>
      </div>
   </div>
   <div class="social-flex2">
      <div class="grid-sobremim2">
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
      </div>
   </div>
</div>
</div>
{% endblock %}

{% block 'js' %}
   <script src="{% static 'base/js/sobremim.js'%}"></script>
{% endblock  %}