{% extends 'base.html' %}
{% load static %}

{% block  'conteudo' %}
<section class="sobremim">
   <div class="sobremim-main-container">
      <h1>Sobre César Beck</h1>
      <div class="sobremim-container">
         <div class="sobremim-img">
            <img src="{% static 'base/img/download.jpeg'%}">
         </div>
         <div class="sobremim-text">
            <p>
               lorem ipsum faksflsakflsakfals
               faksflsakflsakfalslaskfl
               kfsalkfas
               lfasklfsakflsakflsakfkfalskfsal
               alfskflsalfsaç
               fsafçsfsafsafsa.
               lorem ipsum faksfl
               sakflsakfals
               faksflsakflsakfalslaskflkfsalkfas
               lfasklfsakflsakflsakfkfalskfsal
               alfskflsalfsaçfsafçsfsafsafsa.
               lorem ipsum faksflsakflsakfals
               faksflsakflsakfalslaskfl
               kfsalkfas
               lfasklfsakflsakflsakfkfalskfsal
               alfskflsalfsaç
               fsafçsfsafsafsa.
               lorem ipsum faksfl
               sakflsakfals
               faksflsakflsakfalslaskflkfsalkfas
               lfasklfsakflsakflsakfkfalskfsal
               alfskflsalfsaçfsafçsfsafsafsa.
               lorem ipsum faksflsakflsakfals
               faksflsakflsakfalslaskfl
               kfsalkfas
               lfasklfsakflsakflsakfkfalskfsal
               alfskflsalfsaç
               fsafçsfsafsafsa.
               lorem ipsum faksfl
               sakflsakfals
               faksflsakflsakfalslaskflkfsalkfas
               lfasklfsakflsakflsakfkfalskfsal
               alfskflsalfsaçfsafçsfsafsafsa.
               lorem ipsum faksflsakflsakfals
               faksflsakflsakfalslaskfl
               kfsalkfas
               lfasklfsakflsakflsakfkfalskfsal
               alfskflsalfsaç
               fsafçsfsafsafsa.
               lorem ipsum faksfl
               sakflsakfals
               faksflsakflsakfalslaskflkfsalkfas
               lfasklfsakflsakflsakfkfalskfsal
               alfskflsalfsaçfsafçsfsafsafsa.
               lorem ipsum faksflsakflsakfals
               faksflsakflsakfalslaskflkfsalkfas
               lfasklfsakflsakflsakfkfalskfsal
               alfskflsalfsaçfsafçsfsafsafsa.
               lorem ipsum faksflsakflsakfals
               faksflsakflsakfalslaskflkfsalkfas
               lfasklfsakflsakflsakfkfalskfsal
               alfskflsalfsaçfsafçsfsafsafsa.
            </p>
         </div>
      </div>
   </div>
</section>
<div class="linha-container">
   <p class="trabalhos">Onde encontrar meus trabalhos:</p>
   <hr class="linha-sobremim">
   <div class="sobremim-flex">
      <div class="grid-sobremim">
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
      </div>
      <div class="social-sobremim">
         <ul>
            <img src="{% static 'base/img/a(semfundoo).png'%}">
            <img src="{% static 'base/img/linkedin.png'%}">
            <img src="{% static 'base/img/medium(semfundo).png'%}">
         </ul>
      </div>
   </div>
   <div class="social-flex2">
      <div class="grid-sobremim2">
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
         <div class="dot"></div>
      </div>
   </div>
</div>
</div>
{% endblock %}

{% block 'js' %}
   <script src="{% static 'base/js/sobremim.js'%}"></script>
{% endblock  %}