.blur-effect {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#postagens
{  
    
   margin-bottom: 5rem;
}
.post
{
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
   
}

.div-text
{
width:100%;
display: flex;
justify-content: center;

}
.post-titulo
{   display: flex;
    text-align: left;
    width:85%;
    padding: 0;
    
}
.post-titulo h1
{
  
    font-weight: 600;
    font-size: 1.3rem;
    

}
.post-subtitulo
{
    font-weight: 550;
    font-size: 1.4rem;
    font-family: 'American Typewriter', sans-serif;
                                                
}
.post-subtitulo-night
{
    font-weight: 600;
}
.post-container
{
    margin-top: 2rem;
    width: 100%;
    display: block;

    
    
}
 .post-box
{
    width: 85%;
    border: solid #fff 2px;
    padding:0.5rem;
    display: inline-block;
    box-shadow: 10px 10px #000;
    position:relative;
    
}
.post-box .comentario-box
{
  display:none;
}

.post-box.is-active
{
  height:20rem;
}
.post-box.is-active .add-comentario-box
{
  display:block;
}
.post-box.is-active .comentario-box
{
  display:block;
  bottom:5px;
}
.post .comentario-box.is-active
{
  
  bottom:-9rem;
  
}
.post .add-comentario-box
{
  bottom:5px;
  right:6rem; 
}
.post-box.is-active .ler-mais
{
  display:none;
}
.post-box p
{
    font-family: 'Nexa Bold', sans-serif;
}
.post-box.post-night
{
   color:#000;
  border:solid #000 2px;
  background-color: #e9e9e9;
  box-shadow:5px 5px #3c3c3c;
}

/*//////////////////////////VER-MAIS///////////////////////////////////*/
.ver-mais-a
{ margin-top: 3rem;
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
}
.ver-mais-a a
{
  color:#fff;
  font-weight: 550;
  text-decoration: none;
}
.link-container {
  position: relative;
  display: inline-block;
}

.custom-link {
  text-align: center;
  display: block;
}

.link-container::before, .link-container::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 26rem; /* Define o comprimento das linhas */
  height: 1px; /* Define a espessura total das linhas */
  background: linear-gradient(to right,#ffffff 0%, #ffffff 15%, transparent 15%, transparent 20%, #ffffff 10%)
}


.link-container::before {
  right: 100%;
  margin-right: 1.3rem; /* Define o espaço entre as linhas e o texto */
}

.link-container::after {
  left: 100%;
  margin-left: 1.3rem; /* Define o espaço entre as linhas e o texto */
  transform:rotateY(180deg);
}

 
  .ver-mais-a.ver-mais-a-night .link-container::before,
  .ver-mais-a.ver-mais-a-night .link-container::after
  {
    background: linear-gradient(to right,#000000 0%, #000000 15%, transparent 15%, transparent 20%, #000000 10%)
  }
  .ver-mais-a.ver-mais-a-night a
  {
    color:#000;
  }
.ler-mais-div
{
    display:flex;
    width:100%;
    justify-content: right;
    align-items: center;
    padding: .3rem 0;
    
}
.ler-mais
{
    width:20%;
    font-weight: 800;
    cursor: pointer;
   

}
.oculta
{
    display: none;
}
.post2 
{
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
}
.post-box2
{
    padding:0.5rem;
    display: grid;
    align-items:start;
}
.post-container2
{   
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 25% auto; /* Ajusta a divisão de colunas para a imagem e o texto */
    grid-gap: .7rem; /* Adiciona um espaço entre a imagem e o texto */
    width:85%;
    align-items: start; /* Alinha os itens para começar */
    position: relative;
}
.post-container2-img
{
    align-items: center;
    display: flex;
    justify-content: left;
    height:100%;
    max-height: 18.3rem;
    border: solid #fff 2px;
    box-shadow: 5px 5px #000;
}
.body-night .post-container2-img
{
    border:solid #000 2px;
    box-shadow: 5px 5px #3c3c3c;
}

.post-container2 img
{
    object-fit:cover;
    width:100%;
    height:100%;

    
}
.div-text2
{
    display: grid;
    align-items: start;
    width:100%;
    text-align: left;
}
.post-titulo2
{
    align-self: start;
}
.post-box2-fonte
{ 
  margin-top: 1rem;
  display: flex;
  font-size:.7rem;
  font-family: 'Nexa', sans-serif;
  justify-content: left;
}
.post-box2-fonte h3
{
  margin-right:3rem;
  margin-top:.5rem;
 
}

.post2-comentarios
{
  display: flex;
  width:100%;
  justify-content: space-between;
  margin-top: 3rem;
  
}
.comentario-box
{
  border:2px #fff solid;
  padding:1rem;
  box-shadow: 5px 5px #000;
  cursor: pointer;
  max-height: 4rem;
  position: absolute;
  
}
.add-comentario-box

{
  border:2px #fff solid;
  padding:1rem;
  box-shadow: 5px 5px #000;
  cursor: pointer;
  max-height: 4rem;
  position: absolute;
  display:none;
}
.add-comentario-box img
{
  height: 2rem;
}
.comentario-box li
{

  display:none;
  position:relative
}
.comentario-img
{
  
  height:2.5rem;
  width:2.5rem;
  border-radius:50%;
  background:#fff;
  margin-right:1rem;
  margin-top:-.3rem;
  

}
.comentario-texto
{
  display:inline-block;
  margin:.8rem 0 .8rem 3.5rem;
  width:80%;
}
.comentario-responder
{
  
}
.body-night .comentario-box
{
  border: solid #000 2px;
  box-shadow: 5px 5px #3c3c3c;
}
.body-night .comentario-box.is-active
{
  background-color: #a7a7a7;
  box-shadow: 5px 5px #3c3c3c;
}
.body-night .comentario-box.is-active::-webkit-scrollbar-track {
  background: #e9e9e9;
  


}
.comentario-box.is-active
{
  
  width:24.5rem;
  height:20rem;
  max-height: 30rem !important;
  background-color: #2a2a2d;
  overflow-y: scroll;
  z-index:2;
  
}
.post2 .comentario-box.is-active
{
  left:-2.3rem;
}
.comentario-parte1
{
  display:flex;
  justify-content:left;
  align-items:center;
}
.comentario-box.is-active li
{
  
display:block;
align-items:center;
width:100%; 
margin-bottom: 3rem;
  
}
.comentario-box.is-active::-webkit-scrollbar-track {
  background: #161616;
  


}
.comentario-box.is-active::-webkit-scrollbar-thumb {
  background: #e9e9e9;
  border-radius: 20px;
}

.comentario-box.is-active img
{
  display: none;
}
.post2-comentarios img
{
  height:2rem;
  width:auto;

 
}


.main-comentario
{
  width:85%;
 border: solid #e9e9e9 2px;
 display: flex;
 padding:.6rem;
 position: relative;
 align-items: center;
 justify-content: space-between;
 box-shadow: 5px 5px #000;
 margin-left: .5rem;
 max-height: 4rem;
 margin-left:10rem;

}
.body-night .main-comentario
{
  border:#000 solid 2px;
  box-shadow: 5px 5px #3c3c3c;
}
.body-night .main-comentario label
{
  font-weight: 600;
}
.main-comentario img
{
  height: 1.8rem;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right:1rem;
}
.input_comentario
{
  border-radius: 1rem;
  background-color: #e9e9e9;
  outline: none;
  border:none;
  margin-top:.8rem;
  width:92%;
  height:1.6rem;
  padding:.3rem;
  resize:none;    

}
.main-comentario label
{
  font-size:.8rem;
  text-align: left;
  position: absolute;
  top:.5rem;
  
 
}
.input_comentario.is-active
{
  min-height:80% !important;
  border-radius: .5rem !important;
  padding:0 !important;
  

}
.main-comentario.is-active
{
  height: 12rem !important;
  max-height: 12rem !important;
}
.comentario-data
{
 margin-left:1.5rem;
 font-size: .7rem;
}
.comentario-parte2
{
  display:flex;
  justify-content:right;
  width:75%;
  margin:auto;

}
.comentario-parte2 span
{
  margin: 0 1rem;
}
.resposta-do-comentario
{
  resize:none;
  outline:none;
  border:none;
  border-radius:5px;
  height:60%;
  width:60%;
  background-color:#a7a7a7;
 margin:auto;
}
.comentario-box img
{
  height:2rem;
}




.comment-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment, .reply {
  display: flex;
  margin-bottom: 20px;
}

.reply {
  margin-left: 40px;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
}

.reply-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
