{% extends 'base.html' %}
{% load static %}
{% block  'conteudo' %}
<section id="postagens">
    {% for post in post  %}
        {% if post.image.name == '' and post.post|length > 590%}
        <div class="post">
            <div class="post-container">
                <div class="div-text">
                    <div class="flex-titulo2">
                        <div class="post-titulo2">
                            <h1>
                            {{post.titulo}}
                            </h1>
                            
                        </div>
                        {% if post.subtitulo %}
                            <div class="post-subtitulo">
                                <h1>
                                   <span>&nbsp;-&nbsp;</span> {{post.subtitulo}}
                                </h1>
                            </div>
                            {% endif %}
                    </div>
                </div>
                <div class="post-box">
                    <div class="post-text">
                        <p class="post-box-p">
                            <a href="{{post.link_popup}}" target="popup" 
                            onclick="window.open('{{post.link_popup}}', 'popup', 'width=700, height=700'); return false;">
                                {{post.post|safe}}
                            </a>
                        </p>
                        
                   
                </div>
                <div class="post1-comentarios">
                    <div class="add-comentario-box"><img class="comentario-box-img" src="{% static '/base/img/message (1).png'%}">
                    </div>

                    {% comment %}? COMENTARIO {% endcomment %}
                    <div class="comentario-box">
                        <img src="{% static '/base/img/comment (2).png'%}">
                        <ul class="comentario-arvore">
                        <li>
                            <div class="comentario-parte1"> <span class="comentario-img">
                                <img src="{% static 'base/img/discord.png'%}">
                                </span>
                                <span class="comentario-nome"> 
                                Thiago Neves
                                </span>
                                <span class="comentario-data">10 de Junho
                                </span> 
                            </div>
                            <span> </span>
                            <span class="comentario-texto">
                            Kfksalkfaslfkas
                            fsalkfsalkfsa
                            flaskf
                            </span>
                            <div class="comentario-parte2">
                                <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                                Responder
                                </span>
                            </div>
                            <span onclick="abrir_respostas_comentarios()" class="comentarios-repostas">Ver <span>10</span> comentários</span>
                        </span>
                        </li>
                    </ul>
                    </div>
                </div>
                    <div class="ler-mais-div">
                    <a class="ler-mais">Ler mais...</a>
                  
                    </div>
                    
                    <div class="post1-ler-mais" style="display:none;
                width:100%; height:100vh; position:fixed; top:0; left:0;
                 z-index:99999; justify-content:center;
                align-items:center; background:rgba(0,0,0,.4)"
                
                >
                    <div class="post1-modal" style="width:85%; background-color:#2a2a2d;
                    border:solid #fff 2px; padding:.8rem; position:relative;">
                        <button class="post1-fechar_modal" style=" position: absolute;

                        top:-20px;
                        right:-20px;
                        width:2em;
                        height:2em;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        background-color: rgb(54, 54, 54);
                        font-size:1.3em;
                        cursor:pointer;
                        box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
                        color:#fff;">x</button>
                        <div class="ver-mais1-text" style="overflow-y:scroll; word-break:break-word; height:15rem;">
                        {{post.post|safe}} </div>

                        <div class="post1-comentarios" style="display:flex;">
                            <div class="add-comentario-box"><img class="comentario-box-img" src="{% static '/base/img/message (1).png'%}">
                            </div>
        
                            {% comment %}? COMENTARIO {% endcomment %}
                            <div class="comentario-box">
                                <img src="{% static '/base/img/comment (2).png'%}">
                                <ul class="comentario-arvore">
                                <li>
                                    <div class="comentario-parte1"> <span class="comentario-img">
                                        <img src="{% static 'base/img/discord.png'%}">
                                        </span>
                                        <span class="comentario-nome"> 
                                        Thiago Neves
                                        </span>
                                        <span class="comentario-data">10 de Junho
                                        </span> 
                                    </div>
                                    <span> </span>
                                    <span class="comentario-texto">
                                    Kfksalkfaslfkas
                                    fsalkfsalkfsa
                                    flaskf
                                    </span>
                                    <div class="comentario-parte2">
                                        <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                                        Responder
                                        </span>
                                    </div>
                                    <span onclick="abrir_respostas_comentarios()" class="comentarios-repostas">Ver <span>10</span> comentários</span>
                                </span>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
         {% comment %}? POST TESTE {% endcomment %}
         {% elif post.image.name == '' and post.post|length < 590%}
         <div class="post">
            <div class="post-container">
                <div class="div-text">
                    <div class="flex-titulo2">
                        <div class="post-titulo2">
                            <h1>
                            {{post.titulo}}
                            </h1>
                            
                        </div>
                        {% if post.subtitulo %}
                            <div class="post-subtitulo">
                                <h1>
                                    {{post.subtitulo}}
                                </h1>
                            </div>
                            {% endif %}
                    </div>
                </div>
                <div class="post-box">
                    <div class="post-text">
                    <p class="post-box-p">
                        <a href="{{post.link_popup}}" target="popup" 
                            onclick="window.open('{{post.link_popup}}', 'popup', 'width=700, height=700'); return false;">
                                {{post.post|safe}}
                            </a>
                     
                    </p>
                   
                </div>
                <div class="post1-comentarios" style="display:flex !important;">
                    <div class="add-comentario-box"><img class="add-comentario-img" src="{% static '/base/img/message (1).png'%}">
                    </div>

                    {% comment %}? COMENTARIO {% endcomment %}
                    <div class="comentario-box">
                        <img class="comentario-box-img" src="{% static '/base/img/comment (2).png'%}">
                        <ul class="comentario-arvore">
                        <li>
                            <div class="comentario-parte1"> <span class="comentario-img">
                                <img src="{% static 'base/img/discord.png'%}">
                                </span>
                                <span class="comentario-nome"> 
                                Thiago Neves
                                </span>
                                <span class="comentario-data">10 de Junho
                                </span> 
                            </div>
                            <span> </span>
                            <span class="comentario-texto">
                            Kfksalkfaslfkas
                            fsalkfsalkfsa
                            flaskf
                            </span>
                            <div class="comentario-parte2">
                                <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                                Responder
                                </span>
                            </div>
                            <span onclick="abrir_respostas_comentarios()" class="comentarios-repostas">Ver <span>10</span> comentários</span>
                        </span>
                        </li>
                    </ul>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
       {% comment %}? POST 2 > 567 CHARACTERS {% endcomment %}
       
       {%elif post.image.name != '' and post.post|length > 567 %}

        <div class="post2">
        <div class="post-container2">
            <div class="div-text1">
                <div class="post-container2-img">
                    <img src="{{post.image.url}}">
                </div>
            </div>
            <div class="div-text2">
                <div class="flex-titulo2">
                <div class="post-titulo2">
                    <h1>
                    {{post.titulo}}
                    </h1>
                    
                </div>
                {% if post.subtitulo %}
                <div class="post-subtitulo">
                    <h1>
                       &nbsp;- {{post.subtitulo}}
                    </h1>
                </div>
                {% endif %}
            </div>

                
                <div class="post-box2">
                    <p style="    overflow: hidden;
                    max-height: 8rem;">
                        <a href="{{post.link_popup}}" target="popup" 
                        onclick="window.open('{{post.link_popup}}', 'popup', 'width=700, height=700'); return false;">
                            {{post.post|safe}}
                        </a>
                    </p>
                    <div class="ler-mais-div2" style="margin-top:1rem;">
                        <a class="ler-mais2" style="font-weight:600; cursor:pointer;">Ler mais...</a>
                    </div>
                    
                    <div class="post-box2-fonte">
                    <a href="{{post.link_fonte}}"target="_blank"><h3>[link da matéria]</h3></a>
                    <h3>Fonte:&nbsp;{{post.font}}</h3>
                    </div>
                </div>
                <div class="post2-ler-mais" style="display:none;
                width:100%; height:100vh; position:fixed; top:0; left:0;
                 z-index:99999; justify-content:center;
                align-items:center; background:rgba(0,0,0,.4)"
                
                >
                    <div class="post2-modal" style="width:85%; background-color:#2a2a2d;
                    border:solid #fff 2px; padding:.8rem; position:relative;">
                        <button class="post2-fechar_modal" style=" position: absolute;

                        top:-20px;
                        right:-20px;
                        width:2em;
                        height:2em;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        background-color: rgb(54, 54, 54);
                        font-size:1.3em;
                        cursor:pointer;
                        box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
                        color:#fff;">x</button>
                        <div class="ver-mais2-text" style="overflow-y:scroll; word-break:break-word; height:15rem;">
                        {{post.post|safe}}
                        </div>

                        <div class="post2-comentarios">
                            <div class="add-comentario-box" style="display:none;"> <img src="{% static '/base/img/message (1).png'%}">
                            </div>
                            <div class="comentario-box">
                            <img class="comentario-box-img" src="{% static '/base/img/comment (2).png'%}">
                            <li>
                                <div class="comentario-parte1"> <span class="comentario-img">
                                    <img src="{% static 'base/img/discord.png'%}">
                                    </span>
                                    <span class="comentario-nome"> 
                                    Thiago Neves
                                    </span>
                                    <span class="comentario-data">10 de Junho
                                    </span> 
                                </div>
                                <span> </span>
                                <span class="comentario-texto">
                                Kfksalkfaslfkas
                                fsalkfsalkfsa
                                flaskf
                                </span>
                                <div class="comentario-parte2">
                                    <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                                    Responder
                                    </span>
                                </div>
                            </li>
                            </div>
                            <form class="comentario-form">
                            <div class="main-comentario">
                                <div class="align-label">
                            <label for="comentario">Deixe seu comentário:</label>
                           
                          
                            <textarea class="input_comentario" required name="comentario"></textarea>
                                </div><button class="input-comentario-submit" >
                            </button>
                            
                            </div>
                          </form>
                          </div>
                    </div>
                       
                       
                </div>
                {% comment %}? COMENTARIO {% endcomment %}

                <div class="post2-comentarios">
                    <div class="add-comentario-box" style="display:none;"> <img src="{% static '/base/img/message (1).png'%}">
                    </div>
                    <div class="comentario-box">
                    <img class="comentario-box-img" src="{% static '/base/img/comment (2).png'%}">
                    <li>
                        <div class="comentario-parte1"> <span class="comentario-img">
                            <img src="{% static 'base/img/discord.png'%}">
                            </span>
                            <span class="comentario-nome"> 
                            Thiago Neves
                            </span>
                            <span class="comentario-data">10 de Junho
                            </span> 
                        </div>
                        <span> </span>
                        <span class="comentario-texto">
                        Kfksalkfaslfkas
                        fsalkfsalkfsa
                        flaskf
                        </span>
                        <div class="comentario-parte2">
                            <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                            Responder
                            </span>
                        </div>
                    </li>
                    </div>
                    <form class="comentario-form">
                    <div class="main-comentario">
                        <div class="align-label">
                    <label for="comentario">Deixe seu comentário:</label>
                   
                
                    <textarea class="input_comentario" required name="comentario"></textarea>
                        </div><button class="input-comentario-submit" >
                    </button>
                    
                    </div>
                </form>
                </div>
            </div>
            
        </div>


        {% comment %}? POST 2 {% endcomment %}
        {% else %}
        
        <div class="post2">
        <div class="post-container2">
            <div class="div-text1">
                <div class="post-container2-img">
                    <img src="{{post.image.url}}">
                </div>
            </div>
            <div class="div-text2">
                <div class="flex-titulo2">
                <div class="post-titulo2">
                    <h1>
                    {{post.titulo}}
                    </h1>
                    
                </div>
                {% if post.subtitulo %}
                <div class="post-subtitulo">
                    <h1>
                       &nbsp;- {{post.subtitulo}}
                    </h1>
                </div>
                {% endif %}
            </div>

                
                <div class="post-box2">
                    <p>
                        <a href="{{post.link_popup}}" target="popup" 
                        onclick="window.open('{{post.link_popup}}', 'popup', 'width=700, height=700'); return false;">
                            {{post.post|safe}}
                        </a>
                    </p>
                    <div class="ler-mais-div2">
                
                    </div>
                    <div class="post-box2-fonte">
                    <a href="{{post.link_fonte}}"target="_blank"><h3>[link da matéria]</h3></a>
                    <h3>Fonte:&nbsp;{{post.font}}</h3>
                    </div>
                </div>

                {% comment %}? COMENTARIO {% endcomment %}

                <div class="post2-comentarios">
                    <div class="add-comentario-box" style="display:none;"> <img src="{% static '/base/img/message (1).png'%}">
                    </div>
                    <div class="comentario-box">
                    <img class="comentario-box-img" src="{% static '/base/img/comment (2).png'%}">
                    <li>
                        <div class="comentario-parte1"> <span class="comentario-img">
                            <img src="{% static 'base/img/discord.png'%}">
                            </span>
                            <span class="comentario-nome"> 
                            Thiago Neves
                            </span>
                            <span class="comentario-data">10 de Junho
                            </span> 
                        </div>
                        <span> </span>
                        <span class="comentario-texto">
                        Kfksalkfaslfkas
                        fsalkfsalkfsa
                        flaskf
                        </span>
                        <div class="comentario-parte2">
                            <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                            Responder
                            </span>
                        </div>
                    </li>
                    </div>
                    <form class="comentario-form">
                    <div class="main-comentario">
                        <div class="align-label">
                    <label for="comentario">Deixe seu comentário:</label>
                   
                
                    <textarea class="input_comentario" required name="comentario"></textarea>
                        </div><button class="input-comentario-submit" >
                    </button>
                    
                    </div>
                </form>
                </div>
            </div>
            
        </div>
        
        {% endif %}
    {% endfor %}
    <iframe style="border-radius:12px; width:85%; margin:2rem auto;" src="https://open.spotify.com/embed/show/4J4dvqK0uOyqXhwRgHImV0?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

      <div class="ver-mais-a">
         <div class="link-container">
            <a href="#" class="custom-link">Carregue mais</a>
         </div>
      </div>
     
      
</section>
<div class="modal-main-resposta">
<div class="modal-resposta">
<button onclick="fechar_modal_respostas()" class="modal-resposta-fechar">x</button>
<div class="comment-section">
<div class="comment">
<img src="avatar.png" alt="avatar" class="avatar">
<div class="content">
<h3 class="username">User Name</h3>
<p class="comment-text">This is a comment.</p>
</div>
</div>
<div class="reply">
<img src="avatar.png" alt="avatar" class="avatar">
<div class="content">
<h3 class="username">User Name</h3>
<form>
<input class="reply-input" type="text" required placeholder="Write a reply...">
<div class="div-button">
<button style="width: 5rem;
margin: 1rem 0;
display: flex;
justify-content: center;
text-align: center;
box-shadow: 4px 4px #000;
border: none;
outline: none;
padding: 0.3rem 2rem;
font-size: 1rem;
font-weight: 600;
border-radius: 5px;
color: #FFF;
background-color: #3c3c3c;" class"comment-box-submit" type="submit">Enviar</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="modal-add-comentario"> 
<div class="modal-main-comentario">
<button class="fechar_modal_comentario">x</button>
<div class="modal-comentario">
<div class="modal-comentario-header">
   
<img src="url_da_imagem" alt="user profile picture">
<h2>Nome da Postagem</h2>
</div>
<div class="post-content">
Conteúdo da postagem
</div>
<div>
    <form>
<input class="comment-box" type="text" required type="text" placeholder="Adicione um comentário..."/>
    <button style="width: 5rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 4px 4px #000;
    border: none;
    outline: none;
    padding: 0.6rem 5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    color: #FFF;
    background-color: #3c3c3c;" class"comment-box-submit" type="submit">Enviar</button>
    </form>
</div>
</div>
</div>
</div>
</div>
<div class="modal-container-video">
   <div class="modal-video" style="position:relative">
     <iframe class="responsive-iframe" src="https://drive.google.com/file/d/16BfCjHK6gabcMnzqudmMvPStLQDLoM-a/preview"  width="640" height="480" allow="autoplay">
           
           
            </iframe>

            <button class="fechar-modal-video" style="
            position: absolute;
            top: -15px;
            right: -15px;
            width: 2rem;
            height: 2rem;
            z-index: 999;
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: rgb(54,54,54);
            font-size: 1.3em;
            color: #fff;
            cursor: pointer;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
            outline:none;"
            >x</button>
             {% comment %}? COMENTARIO {% endcomment %}

             <div class="post2-comentarios">
                <div class="add-comentario-box"> <img src="{% static '/base/img/message (1).png'%}">
                </div>
                <div class="comentario-box">
                <img class="comentario-box-img" src="{% static '/base/img/comment (2).png'%}">
                <li>
                    <div class="comentario-parte1"> <span class="comentario-img">
                        <img src="{% static 'base/img/discord.png'%}">
                        </span>
                        <span class="comentario-nome"> 
                        Thiago Neves
                        </span>
                        <span class="comentario-data">10 de Junho
                        </span> 
                    </div>
                    <span> </span>
                    <span class="comentario-texto">
                    Kfksalkfaslfkas
                    fsalkfsalkfsa
                    flaskf
                    </span>
                    <div class="comentario-parte2">
                        <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                        Responder
                        </span>
                    </div>
                </li>
                </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-main-ler-respostas">
    <div class="modal-ler-respostas">
        <button onclick="fechar_modal_respostas(event)" class="fechar-modal-ler-respostas">
            x
        </button>
        <ul class="comentario-arvore">
        <div class="comentario-resposta-main">
           
                <li>
                    <div class="comentario-parte1"> <span class="comentario-img">
                       
                        </span>
                        <span class="comentario-nome"> 
                        Thiago Neves
                        </span>
                        <span class="comentario-data">10 de Junho
                        </span> 
                    </div>
                    <span> </span>
                    <span class="comentario-texto">
                    Kfksalkfaslfkas
                    fsalkfsalkfsa
                    flaskf
                    </span>
                    <div class="comentario-parte2">
                        <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                        Responder
                        </span>
                    </div>
                 <div onclick="function abrir_respostas_comentarios()" class="comentarios-repostas">Ver <span>11</span> resposta(s) </span>
                 </div>
                </li>
        </div>
        <div class="respostas-main">
            <li>
                <div class="comentario-parte1"> <span class="comentario-img">
                
                    </span>
                    <span class="comentario-nome"> 
                    Thiago Neves
                    </span>
                    <span class="comentario-data">10 de Junho
                    </span> 
                </div>
                <span> </span>
                <span class="comentario-texto">
                Kfksalkfaslfkas
                fsalkfsalkfsa
                flaskf
                </span>
                <div class="comentario-parte2">
                    <span class="like"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i></span> <span class="dislike"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i></span><span class="comentario-responder">
                    Responder
                    </span>
                </div>
             <div onclick="function abrir_respostas_comentarios()" class="comentarios-repostas">Ver <span>1</span> resposta(s) </span>
             </div>
            </li>
            
        </div>

    </ul>
    </div>
</div>


{% endblock  %}
{% block 'js' %}
<script src="https://fast.wistia.com/embed/medias/tq05i69fjl.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<script src="{% static 'base/js/app.js' %}"></script>


{% endblock  %}