/*///////////////////////////GRID-CONTAINER////////////////////////////*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:11%;
  row-gap: 15%;
  width:75%;
  margin:4rem auto;
  grid-auto-flow: row dense;
  overflow:hidden;
}

.grid-item {

  height:10rem;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;
  margin:.3rem;

  
 
}
.grid-item-container
{
  justify-content: center;
  align-items: center;
  display:inline-block;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position:relative;
  border: solid #fff 2px;

}
.grid-item .title
{
  position: absolute;
  top:-3rem;
  display: inline-block;
}
.grid-item .description
{
  position: absolute;
  bottom: -3.5rem;
  display: inline-block;

}
.center-text {
  text-align: center;
}
.body-night .grid-item::before
{
  border:solid #000 2px;
}
.body-night .grid-item .title, 
.body-night .grid-item .description
{
  color:#000;
  font-weight: 600;
}

.grid-text h1
{
  margin:0 auto;
  margin-top: 2rem;
  width:80%;
  font-size: 1.6rem;


}
.grid-item img
{ 
  width:100%;
  height:100%;
  max-height:140px;
  min-width:2rem;
  

}
/*///////////////////PAGINATION///////////////////////*/
h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-family: "Lora", serif;
  font-weight: 700;
  margin-top: 60px;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
}
h2 span {
  font-weight: 400;
}

.pagination {
  
  margin: 0;
  padding: .8rem;
  border-radius: 40px;
  
}
.pagination li {
  display: inline-block;
  list-style: none;
}
.pagination li a {
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background-color: #2a2a2d;
  text-align: center;
  text-decoration: none;
  border: solid #fff 2px;
  color: #a4a4a4;
  border-radius: .2rem;
  margin: .1rem;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  
}
.body-night .pagination li a 
{
  border: solid #000 2px;
  color: #1b1b1b;
  background-color: #e9e9e9;
}
.body-night .pagination li a:hover,
.body-night .pagination li a.active
{
  background-color: #e9e9e9;
  color:#000;
}
.pagination li a:hover, .pagination li a.active {
  color: #fff;
  font-weight: 550;
  background-color: #2a2a2d;
}
.pagination li:first-child a {
  border-radius: 40px 0 0 40px;
}
.pagination li:last-child a {
  border-radius: 0 40px 40px 0;
}

.pagination-div
{
  
  width:100%;
  display: flex;
  justify-content: center;

  margin-top:10rem;
  overflow:hidden;
}
