@import url('https://fonts.cdnfonts.com/css/nexa-bold');
@import url('https://fonts.cdnfonts.com/css/american-typewriter?styles=16268');

*
{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
    
  
}

 /* Personalizar a barra de rolagem para navegadores baseados em WebKit (Chrome, Safari, etc.) */
 ::-webkit-scrollbar {
  width: 8px;
  background-color: #333;
  }

  ::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  }

  /* Personalizar a barra de rolagem para o Firefox */
  body {
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
  font-family: 'Nexa', sans-serif;
  color:#fff;
  background-color:#2a2a2d;
  }
input,
textarea,
button,
select,
a, img {
    -webkit-tap-highlight-color: transparent;
}

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:5rem;
}
.nav.nav-night
{
  background-color: #e9e9e9;
  color:#000;
  border:solid #000 2px;
  box-shadow: 5px 5px #3c3c3c;
 
}

.nav
{   
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    position: fixed;
    border:solid #fff 2px;
    height:4rem;
    box-shadow: 10px 10px #000;
    background-color: #2a2a2d;
    z-index: 10;
    
}
.nav a
{
  color:#fff;
}

.nav .cesar
{
    font-size:1.5rem;
    font-family: 'American Typewriter', sans-serif !important;
    letter-spacing: 0.5rem;
}
.cesar img 
{
  height:3rem;
  width:auto;
}
nav .div-content
{
    display: flex;
    width:100%;
    justify-content: center;

}
nav .btn-div
{
    width:5%;
    display: flex;
    justify-content: center;
    z-index: 5;
}
nav .nav-text
{
    width:95%;
    display: flex;
    justify-content: center;
}

nav .nav-text h1
{
    margin-left:5%;
}


/*/////////////HAMBURGER//////////*/
.hamburger
{
  display:block;
  width:1.5rem;
  appearance: none;
  background: none;
  outline: none;
  border:none;
  cursor:pointer;
  position: relative;
  left:0;
  position: absolute;
  margin-left: 1rem;
  z-index: 999;


}
.hamburger.hamburger-night .bar,
.hamburger.hamburger-night::after,  
.hamburger.hamburger-night::before
{
background-color: #000;
}
.hamburger .bar, .hamburger::after, .hamburger::before
{content: '';
  display: block;
  width:100%;
  height:2.2px;
  background-color: #fff;
  margin:6px 0px;
  transition: 0.4s;

}
.hamburger.is-active::before
{
transform:rotate(-45deg) translate(-3px, 4px);
}
.hamburger.is-active .bar
{
opacity:0;
}
.hamburger.is-active::after
{
transform:rotate(45deg) translate(-7px, -8px);
}

.nav-mobile a 
{
  display: block;
  width:100%;
  max-width: 130px;
  margin:0 auto 16px;
  text-align: center;
  padding:5px 16px;
  border-bottom: solid #fff .1rem;
  color:#ffffff;
  text-decoration: none;
  font-weight: 600;
}

.nav-mobile.is-active 
{
  left:0;
}
/*header title////////////////*/
.devops
{
  width:100%;
  position: absolute;
  top:30%;
  text-align: center;
}


.menu-ul {
    display: none;
    position: absolute;
    top: 63px;
    width:13rem;
    left: .5rem;
    margin-top: -0.093rem;
    border-left:solid #fff 2px;
    border-right: solid #fff 2px;
    border-bottom: solid #fff 2px;
    background-color: #2a2a2d;
    padding-right:5px;
    box-shadow: 7px 7px #000;
    z-index: 0;
    padding-bottom: 1rem;
    
    
  }
  .menu-ul li a
  {
    color:#fff;
  }
  .menu-ul.ul-night
  {
    background-color: #e9e9e9;
    color:#000;
    border-right: solid #000 2px;
    border-left:solid #000 2px;
    border-bottom: solid #000 2px;
    box-shadow: 5px 5px #3c3c3c;
  }
  .menu-ul.ul-night a
  {
    color:#000;
  }
  .menu-ul li
  {
    list-style: none;
    margin-top: 1rem;
    margin-left:.5rem;
  }
  
  .show {
    display: inline-block;
   
    
  }
  .menu-ul li a 
  {
    text-decoration: none;
    font-size:1rem;
    font-weight: 600;
  }
  .menu-ul li label
  {
    font-weight: 600;
  }
  @keyframes move {
    0% { left: 0; }
    50% { left: 50%; }
    100% { left: 100%; }
  }
  
  .button {
    position: relative;
    background-color:transparent;
    color: transparent;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .button .ball {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
    animation: move 1s ease-in-out infinite;
  }
  
  .button-night {
    background-color: transparent;
    color: #ffffff;
  }
  
  body.body-night {
    background-color: #a4a4a4;
    color: #000000;
    transition: .3s;
  }

  /*//////////////////NAV-MOBILE///////////////////////*/
  .nav-mobile
{
  display: none;
  position: fixed;
  top:0;
  left:100%;
  width:100%;
  height:100vh;
  z-index: 4;
  background-color:#2a2a2d;
  padding-top:120px;
  transition: 0.4s;
  border: solid #fff 2px;
  
}
.nav-mobile.nav-mobile-night
{
  background-color: #a4a4a4;
  border: solid #000 1.5px;

}
.nav-mobile.nav-mobile-night a
{
  color:#000;
  background-color: transparent;
  border-bottom: solid #000 0.1rem;
}


.nav-mobile.is-active 
{
  left:0;
  
}
/*//////////////DARK-BUTOON/////////////////*/
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 9999;
  cursor: pointer;

}

.theme-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3b434a;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  left: 0.3rem;
  bottom: 0.3rem;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  transform: translateX(2em);
}

/* Estilo adicional para o slider */
.slider.round {
  margin: 0.5rem;
  border-radius: 34px;
  width: 4rem;
  height: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}
.slider-checked {
  background-color: #ccc;
}

.slider-checked:before {
  transform: translateX(2em);
}
/*////////////////////MODAL//////////////////////*/
.modal-container
{
  width:100vw;
  height:100vh;
 background-color:rgba(0,0,0, .5);
 display: none;
 justify-content: center;
 align-items: center;
 z-index: 99999;
 text-align: center;
  position:fixed;
  top:0;
  left:0;
}
.modal 
{
  background-color: #2a2a2d;
  width:60%;
  min-width: 250px;
  padding: 1em;
  text-align: start;
  border:2px solid #ffffff;
  position: relative;
  box-shadow: 10px 10px #000;
  

}
.modal.modal-night
{
  background-color: #e9e9e9;
  border:2px solid #000;
  box-shadow: 5px 5px #363636;
  color:#000;
}
.modal-night form h1
{
  color:#000;
}
.modal-night form input
{
  background-color: #a4a4a4;
  color:#000;
  border: solid #000 2px;
  box-shadow: 5px 5px #363636;
}

.modal-night form label
{
  font-weight: 600;
}
.modal-night .fechar_modal
{
  background-color: #a4a4a4;
  color:#000;
  border: solid #000 2px;
}
.modal-hide
{
  display: flex;
 
}
.modal-hide .modal
{
  animation: modal .3s ease-in-out;
}
button.fechar_modal
{
  position: absolute;

  top:-20px;
  right:-20px;
  width:2em;
  height:2em;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgb(54, 54, 54);
  font-size:1.3em;
  cursor:pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  color:#fff;
}


@keyframes modal 
{
  from
  {
    opacity: 0;
    transform:translate3d(0, -60px, 0);

  } 
  to
  {
    opacity: 1;
    transform:translate3d(0, 0, 0);
  }
}
.modal-container1
{
  width:100vw;
  height:100vh;
 background-color:rgba(0,0,0, .5);
 display: none;
 justify-content: center;
 align-items: center;
 z-index: 99999;
 text-align: center;
  position:fixed;
  top:0;
  left:0;
}
.modal1
{
  background-color: #2a2a2d;
  width:60%;
  min-width: 250px;
  padding: 1em;
  text-align: start;
  border:2px solid #ffffff;
  position: relative;
  box-shadow: 10px 10px #000;
  

}
.modal1.modal-night
{
  background-color: #e9e9e9;
  border:2px solid #000;
  box-shadow: 5px 5px #363636;
  color:#000;
}
.modal-night .fechar_modal1
{
  background-color: #a4a4a4;
  color:#000;
  border: solid #000 2px;
}
.modal h1, .modal1 h1
{
  color: #fff;
  font-size:1.3rem;
}
.modal-container1.modal-hide1
{
  display: flex;
 
}
.modal-hide1 .modal1
{
  animation: modal .3s ease-in-out;
}
button.fechar_modal1
{
  position: absolute;

  top:-20px;
  right:-20px;
  width:2em;
  height:2em;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgb(54, 54, 54);
  font-size:1.3em;
  cursor:pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  color:#fff;
}


.modal form, .modal1 form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

}
.login_btn 
{
  margin-top:1.5rem;
  border: solid #fff 2px;
  color:#fff;
  background-color: #2a2a2d;
  padding:.2rem .7rem;
  font-size: 1.2rem;
  outline: none;
  font-family: 'Nexa', sans-serif;
  font-weight: 600;
  box-shadow: 5px 5px #000;
  cursor: pointer;

}
.modal-night .login_btn
{
  border: solid #000 2px;
  color:#000;
  background-color:#a4a4a4;
  box-shadow: 5px 5px #363636;
}
form input
{
 
  background-color: #2a2a2d;
  border:solid #fff 2px;
  color:#fff;
  width:60%;
  height:1.7rem;
  font-size:.8rem;
  outline: none;
  padding:.3rem;
  box-shadow: 5px 5px #000;
}
form label
{
  justify-content: left;
  font-size: .9rem;
  width:60%;
  display: flex;
  margin-top: 1rem;

}

/*////////////////////OPEN-MODAL2///////////////////////*/
.open-modal2
{
  margin-top: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  padding:5px;
}

.modal-main-resposta
{
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: none;
  top:0;
  left:0;
  background-color: rgba(0,0,0, .5);
  z-index: 999999;
}
.modal-main-resposta.is-active
{
  display:flex;
}
.modal-resposta
{
  background-color: #2a2a2d;
  width:40%;
  min-width: 200px;
  padding: 1em;
  text-align: center;
  border:2px solid #ffffff;
  position: relative;
  box-shadow: 10px 10px #000;
  height:20rem;
  border-radius: .6rem;
  display:flex;
  flex-direction:column;
  margin:auto;

}
button.modal-resposta-fechar
{
  position: absolute;

  top:-20px;
  right:-20px;
  width:2em;
  height:2em;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgb(54, 54, 54);
  font-size:1.3em;
  cursor:pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  color:#fff;
}
.modal-resposta ul
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fechar-comentario
{
  position: absolute;

  top:-20;
  right:-20;
  width:2em;
  height:2em;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgb(54, 54, 54);
  font-size:1.3em;
  cursor:pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  color:#fff;
}



.modal-comentario-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.modal-comentario-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.post-content {
  margin-bottom: 10px;
}
.comment-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.modal-add-comentario
{
  width:100vw;
  height:100vh;
 background-color:rgba(0,0,0, .5);
 display: none;
 justify-content: center;
 align-items: center;
 z-index: 99999;
 text-align: center;
  position:fixed;
  top:0;
  left:0;
}
.modal-add-comentario.is-active
{
  display:flex;
}
.modal-main-comentario
{
  background-color: #2a2a2d;
  width:60%;
  min-width: 250px;
  padding: 1em;
  text-align: start;
  border:2px solid #ffffff;
  position: relative;
  box-shadow: 10px 10px #000;
  border-radius:12px;
}
button.fechar_modal_comentario
{
  position: absolute;

  top:-20px;
  right:-20px;
  width:2em;
  height:2em;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgb(54, 54, 54);
  font-size:1.3em;
  cursor:pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  color:#fff;
}
.modal-main-comentario h2

{
  font-size:1.5rem;
}
.modal-container-video
{
  width:100vw;
  height:100vh;
 background-color:rgba(0,0,0, .5);
 display: none;
 justify-content: center;
 align-items: center;
 z-index: 99999;
 text-align: center;
  position:fixed;
  top:0;
  left:0;
}
.modal-container-video.is-active
{
  display:flex;
}
