.blur-effect {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#postagens
{  
    
   margin-bottom: 5rem;
}
.post
{
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
   
}

.div-text
{
width:100%;
display: flex;
justify-content: center;

}
.post-titulo
{   display: flex;
    text-align: left;
    width:85%;
    padding: 0;
    
}
.post-titulo h1
{
  
    font-weight: 600;
    font-size: 1.3rem;
    

}
.post-subtitulo
{
  font-size: .9rem;
  font-family: 'American Typewriter', sans-serif;
                                                
}
.post-subtitulo-night
{
    font-weight: 600;
}
.post-container
{
    margin-top: 2rem;
    width: 100%;
    display: block;

    
    
}
 .post-box
{
    width: 84%;
    border: solid #fff 2px;
    padding:0.5rem;
    display: inline-block;
    box-shadow: 7px 7px #000;
    position:relative;
    
    
}
.post-text
{
  height:5.4rem;
  overflow:hidden;
 
  
}
.post1-comentarios
{
  display:flex;
  width:100%;
  margin:auto;
  justify-content:right;
  margin-top:1rem;
  display:none;
  
  
}
.post-box.is-active .post1-comentarios
{
  display:flex;
}
.post-box.is-active
{
  height: 25rem;
  width:85%;
  margin:auto;
  background:#3a3a3a;
  z-index:999999;


}
.post-box.is-active .post-text
{
  height:15rem;
  overflow:show;
  overflow-y: scroll;
  
}


.post .comentario-box.is-active
{
  
  bottom:-9rem;
  right:6px;
  
  
}


.post-box p
{
    font-family: 'Nexa Bold', sans-serif;
    text-align:left;
    word-break: break-word;
}
.post-box.post-night
{
   color:#000;
  border:solid #000 2px;
  background-color: #e9e9e9;
  box-shadow:5px 5px #3c3c3c;
}

/*//////////////////////////VER-MAIS///////////////////////////////////*/
.ver-mais-a
{ margin-top: 3rem;
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  z-index:-1;
  
}
.ver-mais-a a
{
  color:#fff;
  font-weight: 550;
  text-decoration: none;
}
.link-container {
  position: relative;
  display: inline-block;
}

.custom-link {
  text-align: center;
  display: block;
}

.link-container::before, .link-container::after {
  content: "";
  z-index:-1;
  position: absolute;
  top: 50%;
  width: 26rem; /* Define o comprimento das linhas */
  height: 1px; /* Define a espessura total das linhas */
  background: linear-gradient(to right,#ffffff 0%, #ffffff 15%, transparent 15%, transparent 20%, #ffffff 10%)
}


.link-container::before {
  right: 100%;
  margin-right: 1.3rem; /* Define o espaço entre as linhas e o texto */
}

.link-container::after {
  left: 100%;
  margin-left: 1.3rem; /* Define o espaço entre as linhas e o texto */
  transform:rotateY(180deg);
}

 
  .ver-mais-a.ver-mais-a-night .link-container::before,
  .ver-mais-a.ver-mais-a-night .link-container::after
  {
    background: linear-gradient(to right,#000000 0%, #000000 15%, transparent 15%, transparent 20%, #000000 10%)
  }
  .ver-mais-a.ver-mais-a-night a
  {
    color:#000;
  }
.ler-mais-div
{
    display:flex;
    width:100%;
    justify-content: right;
    align-items: center;
    padding: .3rem 0;
    
}
.ler-mais
{   margin-top:1rem;
    width:20%;
    font-weight: 800;
    cursor: pointer;
   

}
.oculta
{
    display: none;
}
.post2 
{
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
}
.post-box2
{
    padding:0.5rem;
    display: grid;
    align-items:start;
    word-break: break-word;
}


  .post-container2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 0.9rem;
    width: 85%;
    position: relative;
}

.post-container2-img
 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: left;
  max-height:18rem;
  
}

   


  .post-container2-img img {
    border: solid #fff 2px;
    height: 100%;
    width:100%;
    max-height:18rem;
    box-shadow: 5px 5px #000;
}

.body-night .post-container2-img img
{
  border: solid #000 2px;
  box-shadow: 5px 5px #3c3c3c;
  
}



.div-text2
{
    display: grid;
    align-items: start;
    width:100%;
    text-align: left;
}
.flex-titulo2
{
  display:flex;
  justify-content:left; 
  width:85%;

}
.post-titulo2
{
    align-self: start;
}

.post-subtitulo2
{
font-family:""
}
.post-box2-fonte
{ 
  margin-top: 1rem;
  display: flex;
  font-size:.7rem;
  font-family: 'Nexa', sans-serif;
  justify-content: left;
}
.post-box2-fonte h3
{
  margin-right:3rem;
  margin-top:.5rem;
 
}

.post2-comentarios
{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 1rem;
  
}
.comentario-box
{
  border:2px #fff solid;
  padding:1rem;
  box-shadow: 5px 5px #000;
  cursor: pointer;
  max-height: 4rem;
  
  
}
.add-comentario-box

{
  border:2px #fff solid;
  padding:1rem;
  box-shadow: 5px 5px #000;
  cursor: pointer;
  max-height: 4rem;
 margin-right: 1rem;
}
.add-comentario-box img
{
  height: 2rem;
}
.comentario-box li
{

  display:none;
  position:relative
}
.comentario-img
{
  
  height:2.5rem;
  width:2.5rem;
  border-radius:50%;
  background:#fff;
  margin-right:1rem;
  margin-top:-.3rem;
  

}
.comentario-texto
{
  display:inline-block;
  margin:.8rem 0 .8rem 3.5rem;
  width:80%;
}
.comentario-responder
{
  
}
.body-night .comentario-box
{
  border: solid #000 2px;
  box-shadow: 5px 5px #3c3c3c;
}
.body-night .comentario-box.is-active
{
  background-color: #a7a7a7;
  box-shadow: 5px 5px #3c3c3c;
}
.body-night .comentario-box.is-active::-webkit-scrollbar-track {
  background: #e9e9e9;
  


}
.comentario-box.is-active
{
  position:absolute;
  width:24.5rem;
  height:20rem;
  max-height: 30rem !important;
  background-color: #2a2a2d;
  overflow-y: scroll;
  z-index:2;
 
  
}
.post2-comentarios .comentario-box.is-active
{
  left:-2.3rem;
}
.comentario-parte1
{
  display:flex;
  justify-content:left;
  align-items:center;
}
.comentario-box.is-active li
{
  
display:block;  
align-items:center;
width:100%; 
margin-bottom: 3rem;
  
}
.comentario-box.is-active::-webkit-scrollbar-track {
  background: #161616;
  


}
.comentario-box.is-active::-webkit-scrollbar-thumb {
  background: #e9e9e9;
  border-radius: 20px;
}

.comentario-box.is-active img
{
  display: none;
}
.post2-comentarios img
{
  height:2rem;
  width:auto;

 
}


.main-comentario
{
  
  width:80%;
 border: solid #e9e9e9 2px;
 display: flex;
 padding:.6rem;
 position: relative;
 align-items: center;
 box-shadow: 5px 5px #000;
 max-height: 4rem;
 margin-left:8rem;

}
.body-night .main-comentario
{
  border:#000 solid 2px;
  box-shadow: 5px 5px #3c3c3c;
}
.body-night .main-comentario label
{
  font-weight: 600;
}
.main-comentario img
{
  height: 1.8rem;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right:1rem;
}
.input_comentario
{
  border-radius: 1rem;
  background-color: #e9e9e9;
  outline: none;
  border:none;
  width:92%;
  height:1.6rem;
  padding:.3rem;
  resize:none;    

}

.post-box2-fonte a
{
  color:#fff;
  text-decoration:none;
}

.input_comentario.is-active
{
  min-height:80% !important;
  border-radius: .5rem !important;
  padding:0 !important;

  
  

}
.main-comentario.is-active
{
  height: 12rem !important;
  max-height: 12rem !important;
  align-items:flex-end;
  
}
.comentario-data
{
 margin-left:1.5rem;
 font-size: .7rem;
}
.comentario-parte2
{
  display:flex;
  justify-content:right;
  width:75%;
  margin:auto;

}
.comentario-parte2 span
{
  margin: 0 1rem;
}
.resposta-do-comentario
{
  resize:none;
  outline:none;
  border:none;
  border-radius:5px;
  height:60%;
  width:60%;
  background-color:#a7a7a7;
 margin:auto;
}
.comentario-box img
{
  height:2rem;
}




.comment-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment, .reply {
  display: flex;
  margin-bottom: 20px;
}

.reply {
  margin-left: 40px;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
}

.reply-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  
}
.input-comentario-submit {
  background-image: url(/static/base/img/send.png);
  height: 2rem;
  width: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  outline: none;
  margin-left:1rem;
  cursor:pointer;
}
.comentario-form
{
  width:85% !important;
  margin:auto  !important;
  justify-content:center  !important;
  position:relative;
  
}

.align-label
{
  height:auto;
  position:relative;
 width:90%;
}
.align-label.is-active
{
  height: 12rem !important;
  max-height: 12rem !important;
  
}
.align-label.is-active label
{
  margin-top:15px !important;
}
.align-label label
{
  margin-top:-2px;
}
.comment-box-submit button
{
  width: 5rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px #000;
  border: none;
  outline: none;
  padding: 0.6rem 5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  color: #FFF;
  background-color: #3c3c3c;
}
.div-button
{
  width:85%;
  display:flex;
  margin:auto;
  justify-content:left;
}
.post-container.is-active
{
  position:fixed;
  height:100vh;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  z-index: 99999;
  margin-top:0 !important;
  top:0;
  left:0;
  background:rgba(0,0,0,.4)
}
.post-container.is-active .flex-titulo2
{
  display:none;
}
.modal-main-ler-respostas
{
  width:100vw;
  height:100vh;
 background-color:rgba(0,0,0, .5);
 display: none;
 justify-content: center;
 align-items: center;
 z-index: 99999;
 text-align: center;
  position:fixed;
  top:0;
  left:0;
}
.modal_main_ler_resposta.is-active
{
  display:flex;
}
.comentarios-respostas
{
  z-index:999;
}